body {
  font-family: sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notification {
  width: 90vw;
  height: 30px;
  border: solid 1px black;
  background-color: rgb(47, 255, 75);
  padding: 10px;
  animation: fadeIn 2s;
}
